body {
    margin: 0; /* this removes the default margins of the whole page */
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header, .hero{
    font-size: 18px;
    padding: 20px 100px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-text, .logo, button {
    color: #F9FAF8;
    margin: 0;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex   ;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
}