body {
    margin: 0;
    /* this removes the default margins of the whole page */
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.top {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header,
.hero {
    font-size: 18px;
    padding: 20px 100px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-text,
.logo,
button {
    color: #F9FAF8;
    margin: 0;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.logo,
.author {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 18px;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
}

.information {
    padding-bottom: 72px;
}

.information h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 36px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.card {
    max-width: 200px;
}

.card img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 6px;
}

.card p {
    text-align: center;
}

.callout {
    background-color: #E5E7EB;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

.quote {
    width: 60%;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.author {
    align-self: flex-end;
    margin-right: 22%;
    margin-top: 0;
}